HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Local Spring Profile ###
application-local.properties

application-dev.properties
**/application-dev.properties

### Production credentials (never commit these) ###
application-prod.properties
**/application-prod.properties

### Any properties file with "secret" or "local" in the name ###
*secret*.properties
*local*.properties
